@model SuperApp.Models.ClientResult

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are running a @Html.DisplayTextFor(item => item.BrowserName) on a @Html.DisplayTextFor(item => item.OsName).</p>
    <p>Such a combination has hit this page @Html.DisplayTextFor(item => item.CombinationCount) times before you.</p>
</div>
