<h1>Hello, Azure Track!</h1>
<p>Welcome to this awesome Blob Storage Gallery!</p>
<p>Please find our latest uploads in one of the following categories:</p>
<ul>
  <li><strong>Cars</strong>. We've done our best to categorize your car uploads by brand.
  </li>
  <li><strong>Cats</strong>. Who doesn't like them kitties?</li>
  <li><strong>Dogs</strong>. Rawrrrr!</li>
  <li><strong>Random</strong>. Whatever you can come up with that I don't recognize.</li>
</ul>
<p>Please leave your obscene content for yourself! I will surely try to reject it!</p>